body, html {
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    overflow: hidden;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    }
    
    .bg {
      /* The image used */
      background-image: url("../img/IntroScreen.jpg");
        
      /* Full height */
      height: 100%; 
    
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .howtoplayBG {
  
        /* Full height */
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

    .gametitle {
      /* The image used */
      background-image: url("../img/Title.png");
    
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 3%;
    }

    .startbutton 
    {
        background-image: url(../img/StartGameIdle.png);
        width: 300px;
        height: 105px;
        top: 40%;
    }
    
    .startbutton:hover 
    {
        background-image: url(../img/StartGameHover.png);
        width: 300px;
        height: 105px;
        top: 40%;
    }

    .howtoplaybutton 
    {
        background-image: url(../img/HowtoplayIdle.png);
        width: 300px;
        height: 105px;
        top: 55%;
    }
    
    .howtoplaybutton:hover 
    {
        background-image: url(../img/HowtoplayHover.png);
        width: 300px;
        height: 105px;
        top: 55%;
    }

    .backbutton 
    {
        background-image: url(../img/BackArrowIdle.png);
        width: 195px;
        height: 190px;
        top: 5%;
        left: 5%;
        position: absolute;
    }
    
    .backbutton:hover 
    {
        background-image: url(../img/BackArrowHover.png);
        width: 195px;
        height: 190px;
        top: 5%;
    }

    .center-h {
        margin: 0;
        position: absolute;
        left: 50%;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
      }

    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid red;
        border-radius: 4px;
      }

    input[type=submit] {
        background-color: red;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        display: inline;
      }

    